*.iml
.gradle
/local.properties
/.idea/*
.DS_Store
/build
/app/release
/captures
.externalNativeBuild
.cxx
/app/src/main/java/com/b58works/whatsapp/MainActivity.java
/app/src/main/res/layout/activity_main.xml
